<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinQ.Properties.Settings.QL_TimViecConnectionString"
            connectionString="Data Source=DESKTOP-E7OLK4E\SQLEXPRESS;Initial Catalog=QL_TimViec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>